body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    color: black;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    color: lightblue;
    padding: 2% 1%;

}


h1 {
font-size: 290%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: contents;
padding: 15px;
}


nav a { color: lightsteelblue;
    justify-content: right;
    padding: 14px 20px;
 

}

nav :hover {color: lightskyblue;

}

 ul {
    font-size: 90%;
    list-style: none;
    justify-content: space-between;

 }


nav ul { 

    font-size: 20px;
    justify-content:space-between;
    min-width: 600px;
    display: flex
     
}

main {
    background-color: lightcyan;
    display: flex;
    text-align: right;
    flex-wrap: wrap;
}

section #cool {color: lightslategray;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;

}




#title {padding-right: 40px;
    font-size: 60px;
    border-right: solid lightseagreen;
    display: flex;
    text-wrap: wrap;
    margin: 12px
     

}


.About {
    display: outside;
    justify-content: center;
    background-color: whitesmoke

     
   
}
.About p { font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-wrap: all;
    color: black;
   
}
.title {border-right: solid lightseagreen;
    text-wrap: wrap;
    font-size: 50px;
    display: flex;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {width: 100%;
    size: 10px 10px;
    margin: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#img header {
    padding: 20px;
    background: #13293d;
    color: #fff
}


   
.Work {text-wrap: wrap;
    font-size: 50px;
    display: flex;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

#Work {padding-bottom: 480px;
    padding-right: 50px;
    font-size: 60px;
    border-right: solid lightseagreen;
    display: flex;
    text-wrap: wrap;
    margin: 12px
    

}

.Footer {text-wrap: wrap;
    font-size: 50px;
    display: flex;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Footer  {padding-right: 50px;
    font-size: 60px;
    border-right: solid lightseagreen;
    display: flex;
    text-wrap: wrap;
    margin: 12px
}



.subtitle {
    background-image: url('./header-bg.webp');
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
}

li {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
    font-size: 35px;
    margin-left: 30px;
    text-decoration: none;

}

ul {
    margin-top: 50px;
    font-size: 60%;
    color: lightseagreen;
}

.code {flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;

}

article .code {padding: 10px 10px;
    flex: 1 0 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    

}
.code header {
    padding: 20px;
    background: #13293d;
    color: #fff

}

.Himage {
    height: 320px;
    width: 100%;
    min-width: 400px;

}

.java {flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;

}

.java header {
    padding: 20px;
    background: #13293d;
    color: #fff
    

}

.JavImage {height: 370px;
    width: 100%;
    min-width: 400px;


}